{{- template "AGENTS.md" . }}

## Agent-specified

- `trash` を使う際は、必ず `require_escalated` を使って権限を要求すること。(あなたはゴミ箱のフォルダに既定でアクセスできないため。)
- あなたは多くの場合、サンドボックスの中にいます。「アクセスが拒否されました」「EPERM」「SSL 証明書の検証に失敗しました」などのエラーが発生することがあります。これらは、あなたがサンドボックス内にいるために発生するものであることがほとんどなため、権限昇格を要求することで解決することができます。
