#:schema https://developers.openai.com/codex/config-schema.json

model = "gpt-5.5"
model_reasoning_effort = "xhigh"
plan_mode_reasoning_effort = "xhigh"
approvals_reviewer = "user"

sandbox_mode = "danger-full-access"
network_access = true
web_search = "live" 

personality = "pragmatic"

suppress_unstable_features_warning = true

{{ if eq .chezmoi.os "darwin" -}}
notify = ["bash", "-lc", "afplay /System/Library/Sounds/Ping.aiff"]
{{- else if eq .chezmoi.os "windows" -}}
notify = ["pwsh", "-NoProfile", "-NonInteractive", "-File", "{{ joinPath .chezmoi.homeDir ".codex" "notify.ps1" | replace "\\" "/" }}"]
{{- else -}}
notify = ["paplay", "/usr/share/sounds/freedesktop/stereo/complete.oga"]
{{- end }}

[notice]
hide_rate_limit_model_nudge = true
hide_full_access_warning = true
fast_default_opt_out = true

[sandbox_workspace_write]
network_access = true

{{ if eq .chezmoi.os "windows" -}}
[windows]
sandbox = "elevated"

[shell_environment_policy]
exclude = ["^LANG$", "^LC_.*$"]
{{- end }}

[tui]
status_line = ["model-with-reasoning", "current-dir", "project-name", "git-branch", "context-used", "five-hour-limit", "weekly-limit", "context-window-size"]
theme = "monokai-extended-origin"

[tui.keymap.editor]
insert_newline = ["ctrl-j", "ctrl-m", "enter", "shift-enter", "alt-enter"]

[features]
default_mode_request_user_input = true
goals = true
js_repl = true
memories = true
terminal_resize_reflow = true
{{- if eq .chezmoi.os "windows" }}
unified_exec = true
{{- end }}
voice_transcription = true

[mcp_servers.context7]
args = ["-y", "@upstash/context7-mcp"]
command = "npx"

[mcp_servers.github]
url = "https://api.githubcopilot.com/mcp"
bearer_token_env_var = "GITHUB_MCP_API_TOKEN"

[hooks.state]

[hooks.state.'C:\Users\suzuneu\.codex\hooks.json:permission_request:0:0']
trusted_hash = "sha256:103b53ae193f0c07fa091d9b18f5ebb3556252992416b33254fa2f9af9ea1db0"

[hooks.state.'C:\Users\suzuneu\.codex\hooks.json:pre_tool_use:0:0']
trusted_hash = "sha256:802a2d33858198cc8e215e7a2b4001218b5cb073cc3e9a4c65f9a46569ae1105"

[hooks.state.'C:\Users\suzuneu\.codex\hooks.json:pre_tool_use:1:0']
trusted_hash = "sha256:daed125d8d995299c0fdc867ff3af22885e7dcf4df936400f81949652289cf9d"
