{{- template "AGENTS.md" . -}}

## Agent-specified

- Read, Edit, Write, Update, Search ツールおよび Bash ツールのうちパスを使う際は、冗長な承認プロンプトを回避するため、「.. (1つ上の階層)」や「~ (ホームディレクトリ)」を使わずに相対パスで表せる場合、なるべく相対パスを用いること。
- 純正 WebSearch を使わず、SearXNG MCP もしくは Context7 MCP を使うこと。
